{erl_opts, [debug_info]}.
{deps, [
    gproc,
    thoas,
    cowboy,
    {eel, {
        git, "https://github.com/williamthome/eel.git", {branch, "main"}
    }}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [werl]}
]}.

{relx, [
    {dev_mode, true},
    {include_erts, false}
]}.

{profiles, [
    {prod, [
        {erl_opts, [
            no_debug_info,
            warnings_as_errors
        ]},
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {dev, [
        {deps, [
            {sync, ".*", {
                git, "https://github.com/rustyio/sync.git", {branch, "master"}
            }}
        ]}
    ]}
]}.
